extends ./layout/index 

block slider 
    div.slider
        h1 Rio de Janeiro 
        em aventura

block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        div.row
            div.col-md-5
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio neque iure, mollitia officia, quidem perferendis dignissimos voluptate nostrum sapiente enim dolor, dolorem veritatis natus officiis minima dolores esse asperiores eligendi?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quisquam ullam natus ipsam ut fugiat? Corporis porro iure facere voluptatum, dicta minus explicabo delectus vitae cupiditate nobis! Voluptate, assumenda impedit.
            div.col-md-5
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    div.descuento 
        div.container
            div.row
                div.col-md-6
                    div.contenido
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Noviembre 2023 - 30 de Noviembre 2023
                        p.precio $2,000 USD

    div.container
        h2.mt-5.text-center Testimoniales

        include ./layout/bloque_testimoniales

