extends ./layout/index 

block contenido 
    main.container.mt-5 
        div.row
            div.col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            div.col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium rerum tempore, mollitia laudantium ipsa quo. Deleniti, itaque aut perspiciatis impedit distinctio magni consequuntur architecto culpa. Optio animi accusamus nihil accusantium?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente similique alias quis nisi dicta dolorum facilis aperiam consectetur recusandae nobis eaque nulla sed rerum, aspernatur vero officiis beatae tempora amet.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum maxime nihil non numquam, fugit aspernatur atque excepturi saepe a, temporibus itaque corrupti explicabo sequi modi dicta enim tenetur adipisci quia!
    div.listado-iconos
        div.container.mt-5.py-5.text-center
            div.row
                div.col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus magnam minima quia veniam dolor iusto molestiae ex, est eum repellendus? 
                div.col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono de destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus magnam minima quia veniam dolor iusto molestiae ex, est eum repellendus? 
                div.col-md-4 
                    img(src="img/icono_precios.svg", alt="icono de precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus magnam minima quia veniam dolor iusto molestiae ex, est eum repellendus? 